body{
  background-color: orchid;
}
h1{
  color: #FDDB3A;
}
h2{
  color: red;
}
h3{
  color: #66BFBF;
}
hr{
  border-style: dotted none none;
  border-color: green;
  border-width: 5px;
  width: 50%;
}
